*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html,body{
    height: 100%;
    width: 100%;
}

.top{
    background-image: url(/top.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.cover{
    background-color: rgba(0, 0, 0, 0.756);
}